body {
    width: 80;
    margin:auto;
}

header{
    grid-column: 1/13;
    grid-row: 1;
    background-color: aquamarine;
    text-align: center;
}

img:hover{
    transition: 1s;
    transform: scale(1.10);
}

#info:hover{
    transform: scale(1.10);
    transition: 1s;
    opacity: 0.9;
    background-color: gray;
    color: aliceblue;
}

.h3{
    color: aliceblue;
}